body { margin: 0; padding: 0;
}

.mapid {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#mapid {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.temperature-control {
  background: #ffffff;
  padding: 10px;
}
.wind-control {
  background: #ffffff;
  padding: 10px;
}
.traffic-control {
  background: #ffffff;
  padding: 10px;
}
.rainfall-control {
  background: #ffffff;
  padding: 10px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url("icons-000000@2x.png");
  background-size: 26px 26px;
}

.btn-customBlue {
  background-color: #6d7fcc;
  color: white;
}

.starter-template {
  padding: 3rem 1.5rem;
  color: black;
}

.starter-template p {
  color: black;
}




/* css to customize Leaflet default styles  */
.custom-popup .leaflet-popup-content-wrapper {
  font-size:16px;
  line-height:24px;
}

.custom-popup .leaflet-popup-content-wrapper bigtext {
  font-size: 20px;
  font-weight: bold;
  color: #007BFF;
}

.custom-popup .leaflet-popup-content-wrapper b {
  color:#007BFF;
}

.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
}