<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><i class="nav-icon fas fa-user-circle"></i> About</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="./">Home</a></li>
                        <li class="breadcrumb-item active">About</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>ConSight</h1>
            <p class="lead">Crowdsource IoT Data Platform for Geospatial Data with Visualisation</p>
        </div>

        <div class="container-fluid">
            <p>The objective of this project is to develop a server system that is flexible and
                accept geographical data from any IoT weather stations with low criteria that server
                needs to explicitly understand the data. The server system must also be able to use
                the collected geospatial data and export it for visualisation where the visualisation must
                adapt to the server system. These following goals must be achieved to indicate that the
                project is successful.</p>
            <br>
        </div>

        <div class="container-fluid">
            <h2>Scope</h2>
            <p>The flexible IoT data platform for geospatial data with visualisation has the scope
                lists below as follow:</p>
            <ul>
                <li>To develop a server which are flexible to accept partially structured geospatial
                    data from any sources without the need of an explicit knowledge of the data.</li>
                <li>Collect the various type of data from various sources and join various data in
                    meaningful format which is readable by human.</li>
                <li>The flexible IoT platform must be able to at least receive temperature, air humidity, air pressure
                    and wind speed.</li>
                <li>The flexible IoT platform must be able to collect real time data at a minimum pace
                    of daily rate.</li>
                <li>The flexible IoT platform must be able to connect to at least 5 IoT sensors gather
                    across Thailand.</li>
                <li>The flexible IoT platform must be able to use geospatial data it receives for visualisation</li>
                <li>The visualisation should be on web-based platform.</li>
                <li>The visualisation must be able to display the location of each IoT platform on the
                    world map.</li>
                <li>The visualisation must be able to precisely and clearly display a map with data
                    overlay and supports importing various geospatial data sources as layers.</li>
                <li>The visualisation data overlay should includes rain, wind, PM2.0 and traffic.</li>
                <li>The visualisation can adapt to qualitative and quantitative changes of weather
                    stations.</li>
            </ul>
        </div>

        <div class="container-fluid">
            <h2>Project Developers</h2>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="images/member_krit.png" width="200" height="200" class="img-responsive" alt="1">
                    <h4>Krit Tangcharoenkijkul</h4>
                    <span class="text-muted">59090007</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="images/member_laizen.png" width="200" height="200" class="img-responsive" alt="2">
                    <h4>Laizen Paptiti</h4>
                    <span class="text-muted">59090008</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="images/member_poonyawee.png" width="200" height="200" class="img-responsive" alt="3">
                    <h4>Poonyawee Visetputtasart</h4>
                    <span class="text-muted">59090023</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="images/member_warakorn.png" width="200" height="200" class="img-responsive" alt="4">
                    <h4>Warakorn Jetlohasiri</h4>
                    <span class="text-muted">59090038</span>
                </div>
            </div>
        </div>
    </section>
</div>