<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>An Error has occurred</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <div class="content">
    <div class="container-fluid">
      <h2>{{error.message}}</h2>
      <p>Here is more information about the error, make sure to give this to the administrator should you contact
        them.</p>
      <p>{{error.status}}</p>
      <p>{{error.stack}}</p>
    </div>
  </div>
</div>