<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-8">
                    <h1 class="m-0 text-dark"><i class="nav-icon fas fa-map"></i> Geospatial map</h1>
                </div><!-- /.col -->
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="input-group date" id="GeomapDateTimePicker" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#GeomapDateTimePicker"/>
                            <div class="input-group-append" data-target="#GeomapDateTimePicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-2">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="./">Home</a></li>
                        <li class="breadcrumb-item active">Geospatial map</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <!-- Data from Express, meant to be read by js -->
    <div id="dataFromServer" style="display: none;">{{data_points}}</div>

    <section class="content">
        <div class="col-sm">
            <div id="mapid" style="height: 620px; width: 98%;"> </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<script src="js/main.js"></script>
<script src="js/home.js"></script>
<script src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
  $(function () {
      $('#GeomapDateTimePicker').datetimepicker({
          format: 'L'
      });
      $('#GeomapDateTimePicker').on("hide.datetimepicker", function (e) {
        var userSelectedDate = moment(e.date).format("YYYY-MM-DD");
        window.location.href = "?date=" + userSelectedDate;
      });
  });
</script>